[MESSAGES CONTROL]

disable=
        C0103,
        C0116,
        R0903,
        C0115,
        broad-except,
        consider-using-f-string,
        consider-using-with,
        import-error,
        # missing-function-docstring,
        missing-module-docstring,
        no-value-for-parameter,
        redefined-outer-name,
        too-many-branches,
        too-many-locals,
        too-many-return-statements,
        too-many-statements,
        # undefined-variable,
        # unspecified-encoding,
        # unused-argument,
        # unused-variable,
        wildcard-import,
